@media (max-width: 470px) {
    .nav-links {
        margin-left: 10px;
        text-decoration: none;
        font-size: 13px;
    }
    .about-box {
        display: block;
        background-color: #daf0f1;
        width: 300px;
        height: 580px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 20px;
    }
    .about-text {
        margin-top: 20px;
    }
    .ex-box {
        width: 350px;
    }
    .hobby-img {
        width: 100px;
        height: 100px;
    }
    .contact-box {
        width: 350px;
    }
    .contact-min-box {
        width: 150px;
        height: 100px;
    }
    .video-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .video-img {
        width: 350px;
        margin-bottom: 20px;
    }
    .tabs-img {
        width: 120px;
        height: 180px;
    }
    .tabs-text {
        font-size: 15px;
    }
    .hobby {
        --space: 2px;
    }
    .hobby-img {
        width: 70px;
        height: 70px;
    }
}